body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    background-image: url(imagens/bg-2.jpg);
    flex-direction: column;
    align-items: center;


}

h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 56px;
    color: white;
    text-shadow: 0 3px 3px #060709;
    ;
}

h3 {
    display: flex;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 8px;
    border-bottom: 2px solid #ffffff;
    font-weight: lighter;
    width: 500px;
    justify-content: center;
    margin: 0 100px;
}

p {
    color: #ffffff;
    padding: 10px;
    margin: 0;


}


.container {
    display: flex;
    /* background-color: #ffffff; */
    margin: 50px;
    justify-content: center;
}

.cursos-geral {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    width: 1000px;
    flex-wrap: wrap;
    padding: 25px 0px 25px;
    background-color: #ffffff;
}

.nome-curso {
    background-color: rgb(63, 63, 63);

}