body {
    background-color: #c4bed3;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.pag-geral {
    display: flex;

}

.nav-principal {
    display: flex;
    justify-content: right;
    background-color: #a196c9;
    height: 100vh;
    width: 20%;
}

.itens {
    padding: 1.5em;
    display: flex ;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    
}

.itens img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 1em;
    margin-bottom: 16px;

    
}

.nav-principal a {
    text-decoration: none;
    display: flex;
    justify-content: right;
    border-bottom: 1.5px solid #6c50d1;
    color: #131313;
    font-weight: 600;
    padding-left: 120px;
}



.itens li {
    list-style-type: none;
    padding-bottom: 16px;
}

.conteudo-home {
    margin: 3rem;
}

.conteudo-home h1 {
    font-size: 40px;
}

.subtitulo {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2em;
    color: #6c50d1;
}

.links-externos li {
    display: inline-block;
}

.links-externos ul {
    padding-left: 0;
    display: flex;
    gap: 24px;

}

.links-externos a {
    text-decoration: none;
    color: #131313;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: row-reverse;
}

li:hover a {
    color: deeppink;
}

  