body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;

}

.nav li {
    display: inline-block;
    margin-left: 16px;
}


.nav a {
    text-decoration: none;
    color: #4e4e4e;
}

.nav a:hover {
    text-decoration: none;
    color: #57358f;
    font-weight: bold;
}

@media screen and (max-width: 899px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .nav li {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid #6c4d9e;

    }

    .nav a {
        background-color: #57358f;
        padding: 8px 100vh;
        color: #f3f3f3;
    }

    .nav a:hover {
        background-color: #7053a3;
        color: #f3f3f3;
        font-weight: normal;
    }
}

.hero {
    text-align: center;
    background-color: #57358f;
    padding: 120px;
}

.icon-hero {
    width: 80px;
    padding-top: 16px;
    display: inline-block;
}

.titulo {
    color: #f3f3f3;
}

.subtitulo {
    color: #c0b3d6;
    font-weight: normal;
    padding-bottom: 16px;
}

.botao {
    background-color: #26a8a8;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: #f3f3f3;
    font-weight: bold;
}

@media screen and (max-width: 899px) {

    .hero {
        background-color: #e6e6e6;
        padding: 0 40px 40px 24px;
        margin-top: 0;
    }

    .titulo,
    .subtitulo {
        color: #57358f;
    }

}

.geral {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
}

.container {
    display: flex;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 16px;
    text-align: center;

}

.cards p {
    line-height: 1.5;
}

.cards h3 {
    color: #57358f;
    text-transform: uppercase;
}

.cards-icon span[class^="icon-"] {
    color: #57358f;
    font-size: 40px;
}


@media screen and (max-width: 899px) {
    .geral {
        display: flex;
        flex-direction: column;
        background-color: white;

    }

    .cards {
        margin: 16px 24px;
        padding: 32px;

    }
}


/* .container {
    display: flex;
    flex-direction: row;
}

.geral {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px 24px;
    padding: 32px;

} */


/* Minha devzinha fofa <3, EU TE AMO MUITO VIU <3<3<3<3<3<3<3<3<3<3<3<3 */
@media screen and (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.principal {
    display: flex;
    padding: 24px;
}

.cards-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

}

.cards-principal img {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
}

.texto {
    flex-wrap: wrap;
    text-align: justify;
    margin: 0px;
    text-transform: uppercase;
    color: #57358f;
    font-weight: lighter;
    letter-spacing: 1.5px;
    font-size: 24px;
}

@media screen and (max-width: 899px) {
    .principal {
        border-top: 1px solid #c0b3d6;
        display: flex;
        flex-direction: column;
        background-color: white;

    }

    .cards-principal img {
        width: 25%;
        border-radius: 16px;
    }

}

@media screen and (max-width: 650px) {
    .principal {
        border-top: 1px solid #c0b3d6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 24px;

    }

    .texto {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        padding: 0;
    }

    .cards-principal img {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
    }
}

footer {
    background-color: #c0b3d6;
    padding: 16px;
    text-align: center;
}